<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::html_head(title='Update')">
</head>
  
</head>
<body>
<nav th:replace="layout::html_nav"></nav>

<div class="container">
    <h1>Update article.</h1>
    <form th:action="@{/handle-update/{id}(id=${id})}" th:object="${article}" method="post" enctype="multipart/form-data">

        <div>
            <img th:src="*{urlImg}" id="output" width="200" height="200"/>
        </div>
        <div class="form-group">
            <label th:text="#{menu.update_article}" for="exampleInputArticle1">Profile article</label>
            <input type="file" onchange="loadFile(event)" name="file" class="form-control" id="exampleInputArticle1" aria-describedby="nameHelp">
            <!--            <small id="nameHelp" th:errors="${article.name}" class="form-text text-danger">We'll never share your name with anyone else.</small>-->
            <!--       -->
        </div>

        <div class="form-group">
            <label th:text="#{menu.title}" for="exampleInputTitle1">Article Title</label>
            <input type="text" name="title" class="form-control" id="exampleInputTitle1" aria-describedby="nameHelp" th:value="*{title}" th:field="*{title}">
            <small id="nameHelp" th:errors="${article.title}" class="form-text text-danger">We'll never share your content with anyone else.</small>
        </div>

        <div class="form-group">
            <label th:text="#{menu.description}" for="exampleInputDescription">Description</label>
            <input type="text" name="description" class="form-control" id="exampleInputDescription" aria-describedby="nameHelp" th:value="*{title}" th:field="*{description}">
            <small id="addressHelp"   th:errors="${article.description}" class="form-text text-danger">We'll never share your content with anyone else.</small>
        </div>


        <button th:text="#{menu.submit}" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<div th:replace="layout::script"></div>
</body>
</html>